<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>Categories</title>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>Welcome <b><span sec:authentication="principal.fullName"></span></b>></p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>
<h1>Categories</h1>
<ul>
    <!-- Iterate over categories and display name and description -->
    <th:block th:each="category : ${categories}">
        <li>
            <h2 th:text="${category.strCategory}"></h2>
            <p th:text="${category.strCategoryDescription}"></p>
        </li>
    </th:block>
</ul>
<a href="/home" class="back-button">Back to Home</a>
</body>
</html>